:root {
	--normal: #A8A77A;
	--fire: #EE8130;
	--water: #6390F0;
	--electric: #F7D02C;
	--grass: #7AC74C;
	--ice: #96D9D6;
	--fighting: #C22E28;
	--poison: #A33EA1;
	--ground: #E2BF65;
	--flying: #A98FF3;
	--psychic: #F95587;
	--bug: #A6B91A;
	--rock: #B6A136;
	--ghost: #735797;
	--dragon: #6F35FC;
	--dark: #705746;
	--steel: #B7B7CE;
	--fairy: #D685AD;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  background-color: rgb(57, 199, 224);
  overflow-x:hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainPage {
  grid-template-columns: repeat(2, 1fr);
  z-index: inherit;
}

.pokemonChoice {
  position:relative;
  z-index: 3;
  width:400px;
  top:-20px;
  left:-40px;
}

.pokemonGIF {
  z-index: 2;
}
.pokemonChoice Switch {
  position:absolute;
}
.GIFBackground {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 170%;
  width: 100%;
  animation: loop infinite 1s linear;
}

.filler {
  background-color:rgb(57, 199, 224);
  border:solid rgb(31, 143, 196);
  border-radius:30px;
  width: 400px;
  display: flex;
  font-size:20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

@keyframes loop {
  0% {
    transform: translate(0%,0%);
  }
  100% {
    transform: translate(5%,4%);
  }
}

.displayGIF {
  position: fixed;
  z-index:10;
  top: 25%;
  left: 45%;
}

.welcome {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  right: 0px;
}

.welcome Button {
  font-size: 15px;
  position: relative;
  left: 45%;
}

.welcome-alt {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  right: 40px;

}
.welcome-alt Button {
  position: center;
  font-size: 15px;
  right: center;
}


.logoutButton {
  font-family: 'Press Start 2P', cursive;
  position: fixed;
  right: 10px;
  z-index: 5;
}

/* Login Page Attributes */


/* Background */
.loginBackground {
  height: 100%;
  widy: 100%;
  background: #ff0000;
}

/* The location of the square */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* The shape of the login square */ 
.login-square {
  width: 650px;
  height: 400px;
  background-color: #e0e0e0;
  border-radius: 20px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25);
  padding: 20px;
  position: relative;
  border: 4px solid #000000;
}

/* Login Square Background*/
.login-square:before {
  content: '';
  display: block;
  position: absolute;
  width: 670px;
  height: 400px;
  top: 25px;
  left: 10px;
  right: 10px;
  background-color: #eeeeff;
  border-radius: 15px;
  border: 2px solid #000000;
  font-family: 'Press Start 2P'
}

/* Header Text */
.login-header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  font-family: 'Press Start 2P', cursive;
  color: #000000;
  margin: 0;
}

/* Username/Password position */ 
.login-form {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 0px;
  z-index: 2;
  font-family: 'Press Start 2P', cursive;
}

/* Username/Password style */
.login-form label,
.login-form input,
.login-form button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 12px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.signUp {
  cursor: pointer;
  margin-left: 10px;
}
/* Login Button */
.login {
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

/* Login in with discord text */
.discord-login {
  text-align: left;
  color: #00000;
  margin-top: 10px;
}

/* Discord logo */ 
.login img {
  cursor: pointer;
  position: fixed;
  top: 475px;
  left: 455px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
}

/* Styling for button accessories */ 
.buttons-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.button {
  display: inline-block;
  text-align: center;
}

.button-blue {
  background-color: #007bff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 10px;
  border: 4px solid white;
}

.button-red, .button-yellow, .button-green {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid black;
  margin-bottom: 48px;

}

.button-red {
  background-color: red;
}

.button-yellow{
  background-color: yellow;
}

.button-green {
  background-color: green;
}
