:root {
	--normal: #A8A77A;
	--fire: #EE8130;
	--water: #6390F0;
	--electric: #F7D02C;
	--grass: #7AC74C;
	--ice: #96D9D6;
	--fighting: #C22E28;
	--poison: #A33EA1;
	--ground: #E2BF65;
	--flying: #A98FF3;
	--psychic: #F95587;
	--bug: #A6B91A;
	--rock: #B6A136;
	--ghost: #735797;
	--dragon: #6F35FC;
	--dark: #705746;
	--steel: #B7B7CE;
	--fairy: #D685AD;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  background-color: rgb(57, 199, 224);
  overflow-x:hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: inherit;

}

.pokemonChoice {
  position:relative;
  z-index: 3;
  width:400px;
  top:-20px;
  left:-40px;
}

.pokemonGIF {
  z-index: 2;
}
.pokemonChoice Switch {
  position:absolute;
}
.GIFBackground {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 170%;
  width: 100%;
  animation: loop infinite 1s linear;
}

.filler {
  background-color:rgb(57, 199, 224);
  border:solid rgb(31, 143, 196);
  border-radius:30px;
  width: 400px;
  display: flex;
  font-size:20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

@keyframes loop {
0% {
  transform: translate(0%,0%);
}
100% {
  transform: translate(5%,4%);
}
}
.displayGIF {
  position: fixed;
  z-index:10;
  top: 25%;
  left: 45%;
}